.title {
    color: rgb(230, 14, 64);
}

/* h1 {
    color: rgb(236, 236, 239);
    background-color: brown;
} */

/* #title {
    color: aqua;
    background-color: brown;
} */

 div {
    
    margin: 10px ;
    padding: 10px ;
    text-align: center;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPJ8o6yTo12F2vRLZGgdhhcO1p_zZfqxkNxQ&s");
    background-size: cover; */
    width: 200px ;
    height: 100px;
    border: 2px solid rgb(74, 16, 209);
    background-color: black;
}

h1 {
    border: 2px solid rgb(74, 16, 209);
}